tags
cscope.*
.tags
.cscope.*
types_c.taghl
*.d
*.o
*.a
*.pyc
*.so

tests/test
tests/logs
tests/test_flist
tests/test_fhash
tests/test_fmbuf
tests/test_fconf
tests/test_flog
tests/test_fcache
tests/test_ftime

benchmark/fhash/benchmark
benchmark/flog/benchmark
benchmark/flog/logs

doc
